* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  user-select: none;
  font-family: Helvetica, Sans-serif;
}

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
label:focus {
  outline: 0px !important;
  -webkit-appearance: none;
  box-shadow: none !important;
}

#session-data {
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
  display: none;
  position: absolute;
  z-index: 0;
}

::-webkit-scrollbar {
  display: none;
}

.fade-in {
  opacity: 0;
}

.page {
  width: 100vw;
  height: 100vh;

  position: absolute;
  left: 0;
  top: 0;

  background-image: url("../img/background.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#login {
  z-index: 1;
}

#chat {
  z-index: 0;
}

.chat-box {
  height: 60px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -ms-border-radius: 10px 10px 10px 10px;
  -o-border-radius: 10px 10px 10px 10px;
  transition: background-color ease-in-out 0.2s;
  -webkit-transition: background-color ease-in-out 0.2s;
  -moz-transition: background-color ease-in-out 0.2s;
  -ms-transition: background-color ease-in-out 0.2s;
  -o-transition: background-color ease-in-out 0.2s;
}

.active-chat {
  /*background-color: rgba(0, 0, 0, 0.5);*/
  background-color: #1598e3;
}

.chat-box:hover {
  /*background-color: rgba(0, 0, 0, 0.5);*/
  background-color: #1598e3;
}

#chat-content {
  background-image: url("../img/background.jpeg");
}

#chat-texts {
  height: 85vh;
}

#send-message-button {
  height: 50px;
  width: 50px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}

.chat-message input {
  height: 50px;
  border: none;
  border-radius: 20px;
  outline: none;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  resize: none;
  word-wrap: normal;
}
#new-chat input {
  height: 50px;
  border-radius: 20px;
  border: none;
  background-color: rgba(0, 0, 0, 0.227);
  color: white;
  outline: none;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  resize: none;
  word-wrap: normal;
}

#search-chat-icon:hover {
  color: #2e84b7;
  transform: rotate(360deg);
  transition: all ease-in-out 0.4s;
  -webkit-transition: all ease-in-out 0.4s;
  -moz-transition: all ease-in-out 0.4s;
  -ms-transition: all ease-in-out 0.4s;
  -o-transition: all ease-in-out 0.4s;
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
}

#send-message-button:hover {
  color: #2e84b7;
  transform: rotate(360deg);
  transition: all ease-in-out 0.5s;
  -webkit-transition: all ease-in-out 0.5s;
  -moz-transition: all ease-in-out 0.5s;
  -ms-transition: all ease-in-out 0.5s;
  -o-transition: all ease-in-out 0.5s;
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
}

.message {
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #232227;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.sender {
  transform: translateY(-6px);
  -webkit-transform: translateY(-6px);
  -moz-transform: translateY(-6px);
  -ms-transform: translateY(-6px);
  -o-transform: translateY(-6px);
}

.content {
}

.timestamp {
  transform: translateY(6px);
  -webkit-transform: translateY(6px);
  -moz-transform: translateY(6px);
  -ms-transform: translateY(6px);
  -o-transform: translateY(6px);
}

#connecting {
    z-index: 0;
    background-color: black;
}

#disconnected {
  z-index: 0;
  background-color: black;
  color: red;
}
